body {

	background-color: #99ccff;
	font-family: Arial, sans-serif;
}

h1 {

	padding-top:20pt;
	color:#000000;
	font-size:2em;
	padding-bottom:6pt;
	line-height:1.15;
	page-break-after:avoid;
	text-align: center;
}

p {
	margin:2em;
	color:#000000;
	font-size:1em;

}

img {
width: 80%;
position: relative;
background-color: white;
margin: 20px;
margin-left: 50px;

}


div {
	display: inline-block;
	position: relative;
}

.content {
	width: 100%;
    margin: 0 auto;
    background-color: gray;
}

.images{
width: 25%;
position: relative;
background-color: white;
margin: 0 auto;
border: 1px solid white;
}

.text {
width:45%;
position: relative;
background-color: white;
margin: 10px auto;
border: 1px solid white;

}

.glossary {
width: 25%;
position: relative;
background-color: white;
margin: 0 auto;
border: 1px solid white;

}

.footnotes {


}