

html { height: 100%; width: 100%;}

body { background-color: black; color: white; }


.footnote {
  z-index: 150;
  top: 10800px;
  max-width: 20%;
  right: 0px;
  position: absolute;

  text-align: left;
  -webkit-filter: opacity(60%); /* Chrome, Safari, Opera */
  filter: opacity(60%);
}



#f-1:hover{

  -webkit-filter: opacity(100%); /* Chrome, Safari, Opera */
  filter: opacity(100%);
}

.main-title {
  max-width: 100px;
  position: relative;
}

.chapter {
  margin: auto;
  padding-bottom: 200px;

}

h1 {	
font-family: 'Alegreya Sans', sans-serif;
font-weight: lighter;
font-size: 6.5rem;
margin: 0 auto;
padding: 20px;
position: relative;
top: 10%;
width: 60%;
max-height: 100%;
padding-left: 80px;
border: 50px solid black;
}

h2 {
font-family: 'Alegreya Sans', sans-serif;
font-weight: lighter;
font-size: 5.5rem;
margin: auto;
max-width: 60%;
padding-left: 100px;
}


h6 {
font-family: 'Alegreya Sans', sans-serif;
font-weight: lighter;
font-size: 2.5rem;
margin: auto;
max-width: 50%;
padding: 2em 0px 2em 20px;

}

h5 {
font-family: 'Alegreya Sans', sans-serif;
font-weight: lighter;
font-size: 2rem;
margin: auto;
padding-top: 60px;
padding-bottom: 100px;
text-align: center;
/*justify;*/
position:relative;
z-index: 2;

}

h4 {
font-family: 'Alegreya Sans', sans-serif;
font-size: 1rem;
margin: auto;
left: -90px;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
/*justify;*/
position:relative;

z-index: 2;

}

h3 {
font-family: 'Alegreya Sans', sans-serif;
font-weight: medium;
font-size: 1rem;
border: none;
max-width: 30%;
position: fixed;
left: 20px;
top: 10px;
}


p{
font-family: 'Alegreya Sans', sans-serif;
font-weight: normal;
font-size: 2rem;
line-height: auto;
text-align: left, justify;
max-width: 25em;
position:relative;
z-index: 2;
padding-left: 100px;
margin: auto;
padding: 0.5em 0 0.5em 100px;
}

span {
font-style: italic;

}



p:first-letter {

margin-left: 50px;


}

p.sidenote, ol{
font-family: 'Alegreya Sans', sans-serif;
font-size: 1.5rem;
line-height: auto;
max-width: 60%;
text-align: left;
z-index: 2;
padding: none;
margin: auto;
/*padding: 0.5em 0 0.5em 145px;*/
}


p.index {
font-family: 'Alegreya Sans', sans-serif;
font-size: 1rem;
line-height: auto;
max-width: 60%;
text-align: left;
z-index: 2;
padding: none;
margin: auto 20px;

}
p.index:first-letter {
  margin-left: 0px;
}

.description {
  position: relative;
  font-size: 1rem;
  padding: none;
  font-family: 'Alegreya Sans', sans-serif;
  max-width: 50%;
  margin: auto;
}


#sidenote-1,#overview, #sidenote-2,#sidenote-3 {
  background-color: #0d1a26;
  border: 1px dotted white;
}

.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 200;
  cursor: pointer;

}



img {
-webkit-filter: invert(100%); /* Chrome, Safari, Opera */
filter: invert(100%);
max-height: 300px;
padding-bottom: 5px;

padding-top: 50px;
}

img:hover {
-webkit-filter: invert(0%); /* Chrome, Safari, Opera */
filter: invert(0%);
-webkit-filter: saturate(200%); /* Chrome, Safari, Opera */
filter: saturate(200%);
padding-bottom: 5px;

padding-top: 50px;

}


.imgname{
font-family: 'Alegreya Sans', sans-serif;
font-size: 1rem;
max-height: 300px;
padding-bottom: 5px;
max-width: 50%;
margin: auto;
position: relative;
color:  #cccccc;




}


.scroller {
 padding-top: 40px;
  height: 600px; 
  max-width: 100%;
  margin: auto;
  overflow-y:autansition; /*scrollbar!*/
  overflow-x:none; 
  z-index: 1;
}


​


.text  {
margin: auto;
max-width: 96%;
position: absolute;
padding-top: 40px;
/*display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
z-index: 1;

}

@media only screen and (max-width: 1000px) {
    
  .loader {
  position: relative;
  display: none;
  visibility: none;

}


}



@media only screen and (max-width: 500px) {


 .loader {
  position: relative;
  display: none;
  visibility: none;}

  p {
    width: 100%;
  }



}

@media print { 



.loader {
  position: relative;
  display: inline;

  position: fixed;
  top: 0;
  width: 50%;
  height: 50%;
  background-color: black;
  z-index: 200;
 

}

  h3 {

  position: fixed;
  top: 10px;
  left: 20px;
  
}

body {
  color: black;
  font-family: Arial, sans-serif;
}

p{

font-size: 12px;
line-height: auto;

max-width: 100%;


margin-top: 10px;

}

p.index {
  max-width: 100;
  font-size: 10px;
}

h2 {
font-family: 'Alegreya Sans', sans-serif;
font-weight: lighter;
font-size: 2.5rem;
margin: auto;
max-width: 90%;

}


.footnote {
  z-index: 150;
  font-size: 8px;
  left: -10px;
  top: 7000px;
  max-height: 100%;
  max-width: 20%;
  text-align: left;
  -webkit-filter: opacity(60%); /* Chrome, Safari, Opera */
  filter: opacity(60%);
}


p.sidenote {
  font-size: 10px; 
}


img {

max-height: 200px;
max-width: 400px;
padding-bottom: 5px;
padding-top: 5px;
}

 h6 {
    page-break-after: always;
    font-size: 1rem;
    margin: 10px;
    padding-left: 100px;

}

h4 {
 display: none;
}

li {
  font-size: 10px;
}


.overview {
  margin: auto;
  font-weight: lighter;
  text-align: left;
  max-width: 50%;
  font-size: 10px;
  font-family: 'Alegreya Sans', sans-serif;
  
}

.imgname{
font-family: 'Alegreya Sans', sans-serif;
font-size: 8px;
max-height: 100px;
padding-bottom: 5px;
max-width: 50%;
margin: auto;
position: relative;
color:  #cccccc;

}

 .loader {
  position: relative;
  display: none;
  visibility: none;

}

.glossary {
position: relative;
  display: none;
  visibility: none;

}


}

li {
  padding: 2px;
  margin-left: -25px;
}

ul {
  list-style-type: none;
}

.overview {
  margin: auto;
  font-weight: lighter;
  text-align: left;
  max-width: 50%;
  font-size: 1.5rem;
  font-family: 'Alegreya Sans', sans-serif;
  padding-left: 80px;
}
li.smart{

  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

ol{

  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1rem;
  text-align: left;

}

.glossary {
font-family: 'Alegreya Sans', sans-serif;
position: fixed;
font-size: 3.5rem;

z-index: 100;
left: 5%;
top: 20%;
}


.sub-menu-parent { 

  position: fixed;
  left: 50px;  
}
  
    .sub-menu { 
      font-family: 'Alegreya Sans', sans-serif;
      font-size: 1rem;
      margin: auto;
  
      visibility: hidden; /* hides sub-menu */
      opacity: 0;
      max-width: 20%;
      position: fixed;
      left: 20px;
      color: ivory;
      transform: translateZ(0);
      transform: translateY(10%);
      transition: all 0.5s ease 0s, visibility 0s linear 0.5s; /* the last value is the transition-delay for visibility */
    }



    .sub-menu-parent:hover .sub-menu {
      visibility: visible; /* shows sub-menu */
      opacity: 1;
      transform: translateX(0%);
      transition-delay: 0s; /* this removes the transition delay so the menu will be visible while the other styles transition */
    }

a:link {

  margin: 10px; 
  color: white;
   cursor: crosshair;
}

a:active {

}




a:visited {

    margin: 10px;
    color: #bcbcc2;

    

}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  width: 200px;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  color: white;
  position: absolute;
  transition: all 5s ease-in-out;
  font-family: Open Sans, sans-serif;
  
.overlay:target {
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  margin-left: 100px;
  width: 100%;
  background: white;
  border-radius: 5px;

}


.popup .close {
  position: absolute;
  transition: all 200ms;
  top: -50px;
  font-size: 30px;
  font-weight: bold;
 
  text-decoration: none;
  color: black;
}
.popup .close:hover {

   display: none;

  
}
.caption {
color: white;
overflow: autansition: all 0.3s ease-out;
font-family: Cormorant-SemiboldItalic, italic;
margin: auto;
font-size: 1.5rem;
width: 35%;
text-align: left;
text-indent: 50px;
border: 100px solid black;
}


.bounce{
  font-family: 'Alegreya Sans', sans-serif;
  position: relative;
  margin-top: 20px;
  padding-top: 200px;
   }


p.click {

  font-family: Cormorant-SemiboldItalic, italic;
 
  font-size: 2em;
  max-width: 400px;
  letter-spacing: 10px;
  opacity: 0.4;

  
}


.name {
  position: static;
  font-size: 2.5rem;
  margin-left: 25px;
  background-color: red;
  z-index: 100;
  overflow: none;

}

.menu {
 border: 10px solid red;
 height: 200px;
 width: 200px;

}

p.1 {
text-align: right;
margin-top: 20px;
margin-bottom: 20px;
}

p.1:first-letter {
  margin-left: 0px;
}

.download
{
position: fixed;
padding-top: 300px;
left: 50px;
width: 200px;
height: 400px;
overflow: none;

}

#conclusion {
  color: none;
}
